<div class="content-wrapper p-3">

  <div id="print">
    <a routerLink="#"><button mat-raised-button color="warn"><i
          class="fa-solid fa-print fa-lg"></i><span>ปริ้นแบบฟอร์ม</span></button></a>
  </div>
  <div *ngIf="s_landno">
    <div class="row">
      <div class="col-md-4">
        <span>ชื่อ-สกุลชาวไร่ : {{ s_landno.fmname }} </span>
      </div>
      <div class="col-md-4">
        <span>เลขที่บัญชี : {{ s_landno.fmcode }}</span>
      </div>
      <div class="col-md-4">
        <span>หมายเลขแปลง : {{ s_landno.intlandno }} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span>วันที่ปลูก : {{ s_landno.PlantDateTH }} </span>
      </div>
      <div class="col-md-4">
        <span>อายุอ้อย : {{ s_landno.caneage }} วัน</span>
      </div>
      <div class="col-md-4">
        <span>ประเภทอ้อย : {{ s_landno.CaneTypeName }} </span>
      </div>
    </div>
  </div>
 <!-- ฟอร์มบันทึกกิจกรรม -->
 <form class="needs-validation" #save="ngForm" novalidate id="myForm" >

  <!-- id แปลงอ้อย -->
  <input matInput id="itid" #itid="ngModel" ngModel name="itid" type="text" value="{{itid}}">
  <!-- รหัสผู้บันทึกข้อมูล -->
  <input matInput id="supcode" #supcode="ngModel" ngModel name="supcode" type="text" value="{{supcode}}">

  <div class="row">
    <!-- ผลผลิตประเมิน ตัน/ไร่ -->
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <mat-label>ประเมิน*</mat-label>
        <input matInput maxlength="35" minlength="0"
          [ngClass]="{ 'is-invalid': yieldEstimate.invalid && yieldEstimate.touched }" #yieldEstimate="ngModel"
          ngModel name="yieldEstimate" type="text" required >
        <mat-hint align="end">{{yieldEstimate.value.length}} / 35</mat-hint>
        <div class="invalid-feedback">
          <span>กรุณากรอกข้อมูลในช่องนี้</span>
        </div>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <!-- เป้าหมายผลผลิต ตัน/ไร่ -->
      <mat-form-field class="example-full-width">
        <mat-label>เป้าหมาย*</mat-label>
        <input matInput maxlength="35" minlength="0"
          [ngClass]="{ 'is-invalid': yieldTarget.invalid && yieldTarget.touched }" #yieldTarget="ngModel"
          ngModel name="yieldTarget" type="text" required>
        <mat-hint align="end">{{yieldTarget.value.length}} / 35</mat-hint>
        <div class="invalid-feedback">
          <span>กรุณากรอกข้อมูลในช่องนี้</span>
        </div>
      </mat-form-field>
    </div>
    <!-- รายละเอียดแปลงเพิ่มเติมต่างๆ  -->
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <mat-label>รายละเอียด</mat-label>
        <input matInput #plotMoreDesc="ngModel" ngModel name="plotMoreDesc" type="text">
        <div class="invalid-feedback">
          <span>กรุณากรอกข้อมูลในช่องนี้</span>
        </div>
      </mat-form-field>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table  table-hover">
      <thead align="center">
        <tr>
          <th scope="col">กิจกรรมเพิ่มผลผลิต</th>
          <th scope="col">วางแผนที่จะทำ</th>
          <th scope="col">วันที่ทำจริง</th>
          <th scope="col">ทันเวลา</th>
          <th scope="col">คุณภาพ</th>
          <th scope="col">วิธีการทำ</th>
          <th scope="col">อื่น ๆ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1.การระเบิดดินดาน (ภายในอายุ 30 วัน)
          </td>
          <!--วางแผนระเบิดดินดานวันที่-->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">ปี-เดือน-วัน</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': hardSoilBlastPlan.invalid}"
                #hardSoilBlastPlan="ngModel" ngModel name="hardSoilBlastPlan" type="text" pattern="\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$" >
              <div class="invalid-feedback">
                <span *ngIf="hardSoilBlastPlan.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- ระเบิดดินดานแล้ววันที่ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">ปี-เดือน-วัน</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': hardSoilBlastDate.invalid}"
                #hardSoilBlastDate="ngModel" ngModel name="hardSoilBlastDate" type="text">
              <!-- <div class="invalid-feedback">
                <span *ngIf="hardSoilBlastPlan.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div> -->
            </mat-form-field>
          </td>
          <!-- การระเบิดดินดานทันเวลาหรือไม่ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="hardSoilBlastIntime"
              #hardSoilBlastIntime="ngModel" ngModel name="hardSoilBlastIntime">
              <mat-radio-button value="1">ทันเวลา</mat-radio-button><br>
              <mat-radio-button value="2">ไม่ทันเวลา</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- การระเบิดดินดานมีคุณภาพหรือไม่ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="hardSoilBlastQuality"
              #hardSoilBlastQuality="ngModel" ngModel name="hardSoilBlastQuality">
              <mat-radio-button value="1">ผ่านความลึก</mat-radio-button><br>
              <mat-radio-button value="2">ไม่ผ่านความลึก</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- วิธีการระเบิดดินดาน -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วิธีการทำ</mat-label>
              <input matInput #hardSoilBlastMethod="ngModel" ngModel name="hardSoilBlastMethod" type="text">
              <div class="invalid-feedback">
                <span>กรุณากรอกวิธีการทำ</span>
              </div>
            </mat-form-field>
          </td>
          <!-- เรื่องอื่นๆเกี่ยวกับการระเบิดดินดาน -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อื่น ๆ</mat-label>
              <input matInput #hardSoilBlastMore="ngModel" ngModel name="hardSoilBlastMore"
                value="hardSoilBlastMore">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            2.ปุ๋ยอินทรีย์ (ภายในอายุ 30 วัน)
          </td>
          <!-- วางแผนใส่ปุ๋ยอินทรีย์วันที่ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': organicPlan.invalid}" #organicPlan="ngModel" ngModel
                name="organicPlan" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="organicPlan.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วันที่ใส่ปุ๋ยอินทรีย์ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': organicDate.invalid}" #organicDate="ngModel" ngModel
                name="organicDate" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="organicDate.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- ใส่ปุ๋ยอินทรีย์ทันเวลาหรือไม่ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="organicIntime"
              #organicIntime="ngModel" ngModel name="organicIntime">
              <mat-radio-button value="1">ทันเวลา</mat-radio-button><br>
              <mat-radio-button value="2">ไม่ทันเวลา</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- อัตราปุ๋ยอินทรีย์ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อัตรา...กก./ไร่</mat-label>
              <input matInput #organicRatio="ngModel" ngModel name="organicRatio" type="text">
              <div class="invalid-feedback">
                <span>กรุณากรอกอัตรา</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วิธีการใส่ปุ๋ยอินทรีย์ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="organicMethod"
              #organicMethod="ngModel" ngModel name="organicMethod">
              <mat-radio-button value="1">ใช้คนโรย</mat-radio-button><br>
              <mat-radio-button value="2">ใช้เครื่อง</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- เรื่องอื่นๆเกี่ยวกับการใส่ปุ๋ยอินทรีย์ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อื่น ๆ</mat-label>
              <input matInput #organicMore="ngModel" ngModel name="organicMore">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            3.โดโลไมท์ (ภายในอายุ 30 วัน)
          </td>
          <!-- วางแผนใส่โดโลไมท์วันที่ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': dolomitePlan.invalid}" #dolomitePlan="ngModel" ngModel
                name="dolomitePlan" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="dolomitePlan.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วันที่ใส่โดโลไมท์ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': dolomiteDate.invalid}" #dolomiteDate="ngModel" ngModel
                name="dolomiteDate" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="dolomiteDate.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- ใส่โดโลไมท์ทันเวลาหรือไม่ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="dolomiteIntime"
              #dolomiteIntime="ngModel" ngModel name="dolomiteIntime">
              <mat-radio-button value="1">ทันเวลา</mat-radio-button><br>
              <mat-radio-button value="2">ไม่ทันเวลา</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- อัตราโดโลไมท์ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อัตรา...กก./ไร่</mat-label>
              <input matInput #dolomiteRatio="ngModel" ngModel name="dolomiteRatio" type="text">
              <div class="invalid-feedback">
                <span>กรุณากรอกอัตรา</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วิธีการใส่โดโลไมท์ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="dolomiteMethod"
              #dolomiteMethod="ngModel" ngModel name="dolomiteMethod">
              <mat-radio-button value="1">ใช้คนโรย</mat-radio-button><br>
              <mat-radio-button value="2">ใช้เครื่อง</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- เรื่องอื่นๆเกี่ยวกับการใส่โดโลไมท์ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อื่น ๆ</mat-label>
              <input matInput #dolomiteMore="ngModel" ngModel name="dolomiteMore">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            4.ใส่ปุ๋ยเคมีครั้งที่ 1 (ภายในอายุ 30 วัน)
          </td>
          <!-- วางแผนใส่ ปุ๋ยเคมี1 วันที่ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': chemical1Plan.invalid}" #chemical1Plan="ngModel"
                ngModel name="chemical1Plan" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="chemical1Plan.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วันที่ใส่ เคมี1 -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': chemical1Date.invalid}" #chemical1Date="ngModel"
                ngModel name="chemical1Date" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="chemical1Date.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- ใส่ ปุ๋ยเคมี1 ทันเวลาหรือไม่ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="chemical1Intime"
              #chemical1Intime="ngModel" ngModel name="chemical1Intime">
              <mat-radio-button value="1">ทันเวลา</mat-radio-button><br>
              <mat-radio-button value="2">ไม่ทันเวลา</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- อัตรา ปุ๋ยเคมี1 กก./ไร่ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อัตรา...กก./ไร่<br>สูตร....</mat-label>
              <input matInput #chemical1Ratio="ngModel" ngModel name="chemical1Ratio" type="text">
              <div class="invalid-feedback">
                <span>กรุณากรอกอัตราและสูตร</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วิธีการใส่ ปุ๋ยเคมี1 คน รถ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="chemical1Method"
              #chemical1Method="ngModel" ngModel name="chemical1Method">
              <mat-radio-button value="1">ใช้คนโรย</mat-radio-button><br>
              <mat-radio-button value="2">ใช้เครื่อง</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- เรื่องอื่นๆเกี่ยวกับการใส ปุ๋ยเคมี1 -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อื่น ๆ</mat-label>
              <input matInput #chemical1More="ngModel" ngModel name="chemical1More">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            5.ใส่ปุ๋ยเคมีครั้งที่ 2 (ภายในอายุ 75 วัน)
          </td>
          <!-- วางแผนใส่ ปุ๋ยเคมี2 วันที่ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': chemical2Plan.invalid}" #chemical2Plan="ngModel"
                ngModel name="chemical2Plan" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="chemical2Plan.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วันที่ใส่ เคมี2 -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': chemical2Date.invalid}" #chemical2Date="ngModel"
                ngModel name="chemical2Date" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="chemical2Date.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- ใส่ ปุ๋ยเคมี2 ทันเวลาหรือไม่ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="chemical2Intime"
              #chemical2Intime="ngModel" ngModel name="chemical2Intime">
              <mat-radio-button value="1">ทันเวลา</mat-radio-button><br>
              <mat-radio-button value="2">ไม่ทันเวลา</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- อัตรา ปุ๋ยเคมี2 กก./ไร่ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อัตรา...กก./ไร่<br>สูตร....</mat-label>
              <input matInput #chemical2Ratio="ngModel" ngModel name="chemical2Ratio" type="text">
              <div class="invalid-feedback">
                <span>กรุณากรอกอัตราและสูตร</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วิธีการใส่ ปุ๋ยเคมี2 คน รถ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="chemical2Method"
              #chemical2Method="ngModel" ngModel name="chemical2Method">
              <mat-radio-button value="1">ใช้คนโรย</mat-radio-button><br>
              <mat-radio-button value="2">ใช้เครื่อง</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- เรื่องอื่นๆเกี่ยวกับการใส ปุ๋ยเคมี2 -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อื่น ๆ</mat-label>
              <input matInput #chemical2More="ngModel" ngModel name="chemical2More">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            6.การพูนโคน เพื่อรองรับรถตัดอ้อย (ระยะเวลา 75 วัน)
          </td>
          <!-- วางแผน การพูนโคน วันที่ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': rootingPlan.invalid}" #rootingPlan="ngModel" ngModel
                name="rootingPlan" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="rootingPlan.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วันที่ทำ การพูนโคน -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': rootingDate.invalid}" #rootingDate="ngModel" ngModel
                name="rootingDate" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="rootingDate.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- การพูนโคน ทันเวลาหรือไม่ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="rootingIntime"
              #rootingIntime="ngModel" ngModel name="rootingIntime">
              <mat-radio-button value="1">ทันเวลา</mat-radio-button><br>
              <mat-radio-button value="2">ไม่ทันเวลา</mat-radio-button>
            </mat-radio-group>
          </td>
          <td>
            <!-- <mat-form-field class="field">
                <mat-label id="label">วิธีการ....</mat-label>
                <input matInput type="text" required>
                <div class="invalid-feedback">
                  <span>กรุณากรอกวิธีการทำ</span>
                </div>
              </mat-form-field> -->
          </td>
          <!-- วิธีการพูนโคน คน รถ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="rootingMethod"
              #rootingMethod="ngModel" ngModel name="rootingMethod">
              <mat-radio-button value="1">ใช้คนโรย</mat-radio-button><br>
              <mat-radio-button value="2">ใช้เครื่อง</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- เรื่องอื่นๆเกี่ยวกับ การพูนโคน -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อื่น ๆ</mat-label>
              <input matInput #rootingMore="ngModel" ngModel name="rootingMore">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            7.ใส่ปุ๋ยเคมีครั้งที่ 3 เพื่อเพิ่มผลผลิต (ภายในอายุ 90 วัน)
          </td>
          <!-- วางแผนใส่ ปุ๋ยเคมี3 วันที่ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': chemical3Plan.invalid}" #chemical3Plan="ngModel"
                ngModel name="chemical3Plan" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="chemical3Plan.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วันที่ใส่ เคมี3 -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">วัน/เดือน/ปี พ.ศ.</mat-label>
              <input matInput [ngClass]="{ 'is-invalid': chemical3Date.invalid}" #chemical3Date="ngModel"
                ngModel name="chemical3Date" type="text"
                pattern="(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$">
              <div class="invalid-feedback">
                <span *ngIf="chemical3Date.hasError('pattern')">รูปแบบวันที่ไม่ถูกต้อง</span>
              </div>
            </mat-form-field>
          </td>
          <!-- ใส่ ปุ๋ยเคมี3 ทันเวลาหรือไม่ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="chemical3Intime"
              #chemical3Intime="ngModel" ngModel name="chemical3Intime">
              <mat-radio-button value="1">ทันเวลา</mat-radio-button><br>
              <mat-radio-button value="2">ไม่ทันเวลา</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- อัตรา ปุ๋ยเคมี3 กก./ไร่ -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อัตรา...กก./ไร่<br>สูตร....</mat-label>
              <input matInput #chemical3Ratio="ngModel" ngModel name="chemical3Ratio" type="text">
              <div class="invalid-feedback">
                <span>กรุณากรอกอัตราและสูตร</span>
              </div>
            </mat-form-field>
          </td>
          <!-- วิธีการใส่ ปุ๋ยเคมี3 คน รถ -->
          <td>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="chemical3Method"
              #chemical3Method="ngModel" ngModel name="chemical3Method">
              <mat-radio-button value="1">ใช้คนโรย</mat-radio-button><br>
              <mat-radio-button value="2">ใช้เครื่อง</mat-radio-button>
            </mat-radio-group>
          </td>
          <!-- เรื่องอื่นๆเกี่ยวกับการใส ปุ๋ยเคมี3 -->
          <td>
            <mat-form-field class="field">
              <mat-label id="label">อื่น ๆ</mat-label>
              <input matInput #chemical3More="ngModel" ngModel name="chemical3More">
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex">
    <div class="mr-auto p-2"></div>
    <div class="p-2">
      <!-- <button mat-raised-button color="accent" type="submit">บันทึก</button> -->
      <button mat-raised-button color="accent" type="submit">บันทึก</button>
    </div>
  </div>


</form>
  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead class="thead-dark" align="center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">กิจกรรมเพิ่มผลผลิต</th>
              <th scope="col">วางแผนที่จะทำ</th>
              <th scope="col">วันที่ทำจริง</th>
              <th scope="col">ทันเวลา</th>
              <th scope="col">วิธีการทำ</th>
              <th scope="col">อื่น ๆ</th>
              <th scope="col">จัดการ</th>
            </tr>
          </thead>
          <tbody align="center">
            <tr>
              <td scope="row">1</td>
              <td></td>
              <td>fff</td>
              <td>ggg</td>
              <td>ddd</td>
              <td>lll</td>
              <td>ppp</td>
              <td><button class="btn fa-solid fa-pen-to-square" onclick="showSqcFormEditBox(id)"
                  style="color: #005eff;"></button>
                <button class="btn fa-solid fa-trash" onclick="ScqFormDelete(id)" style="color: #ff0000;"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button mat-raised-button color="primary" routerLink="/Plot">ย้อนกลับ</button>
    </div>
  </div> -->
</div>
