<div class="content-wrapper p-3">

  <div id="print">
    <a routerLink="#"><button mat-raised-button color="warn"><i
          class="fa-solid fa-print fa-lg"></i><span>ปริ้นแบบฟอร์ม</span></button></a>
  </div>
  <div *ngIf="s_landno">
    <div class="row">
      <div class="col-md-4">
        <span>ชื่อ-สกุลชาวไร่ : {{ s_landno.fmname }} </span>
      </div>
      <div class="col-md-4">
        <span>เลขที่บัญชี : {{ s_landno.fmcode }}</span>
      </div>
      <div class="col-md-4">
        <span>หมายเลขแปลง : {{ s_landno.intlandno }} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span>วันที่ปลูก : {{ s_landno.PlantDateTH }} </span>
      </div>
      <div class="col-md-4">
        <span>อายุอ้อย : {{ s_landno.caneage }} วัน</span>
      </div>
      <div class="col-md-4">
        <span>ประเภทอ้อย : {{ s_landno.CaneTypeName }} </span>
      </div>
    </div>
  </div>
<hr>
  <!-- ฟอร์มรายละเอียดกิจกรรม -->
  <form>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark" align="center">
          <tr>
            <th scope="col">#</th>
            <th scope="col">กิจกรรมเพิ่มผลผลิต</th>
            <th scope="col">วางแผนที่จะทำ</th>
            <th scope="col">วันที่ทำจริง</th>
            <th scope="col">ทันเวลา</th>
            <th scope="col">วิธีการทำ</th>
            <th scope="col">อื่น ๆ</th>
            <th scope="col">จัดการ</th>
          </tr>
        </thead>
        <tbody align="center">
          <tr >
            <td>1</td>
            <td>การระเบิดดินดาน (ภายในอายุ 30 วัน)</td>
            <td>fff</td>
            <td>ggg</td>
            <td>ddd</td>
            <td>lll</td>
            <td>ppp</td>
            <td><button class="btn fa-solid fa-pen-to-square" onclick="showSqcFormEditBox(id)"
                style="color: #005eff;"></button>
              <button class="btn fa-solid fa-trash" onclick="ScqFormDelete(id)" style="color: #ff0000;"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </form>
</div>
