<!-- icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="content-wrapper p-3">
  <!-- ฟอร์มค้นหาปีผลิตและเลขบัญชี -->
  <div class="d-flex">
    <div class="mr-auto p-2">
      <form #search="ngForm" (ngSubmit)="submit(search)">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">ปีการผลิต</span>
          <select class="form-select" required [(ngModel)]="selectyear" [ngModelOptions]="{standalone: true}"
            aria-label="Default select example">
            <option selected>เลือกปีการผลิต</option>
            <option *ngFor="let y of yearid" [value]="y.yearCr">{{y.yearDesc}}</option>
          </select>
          <span class="input-group-text" id="inputGroup-sizing-default"></span>
          <input type="text" class="form-control" [(ngModel)]="selectfm" [ngModelOptions]="{standalone: true}"
            aria-label="Sizing input" aria-describedby="inputGroup-sizing-default" placeholder="ค้นหาเลขที่บัญชี">

          <button (click)="getCpdataFarmer()" class="btn btn-outline-success" type="submit">ค้นหา</button>
          <p style="margin-left: 1rem;">0000178895</p>
        </div>
        <!-- <p>{{selectyear}} {{selectfm}} </p> -->
      </form>
    </div>
  </div>

  <!-- ตารางข้อมูลชาวไร่ -->
  <div class="table-responsive">
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="alldata">

        <!-- intlandno Column -->
        <ng-container matColumnDef="intlandno" sticky>
          <th mat-header-cell *matHeaderCellDef> หมายเลขแปลง </th>
          <td mat-cell *matCellDef="let element"> {{element.intlandno}} </td>
        </ng-container>

        <!-- fmname Column -->
        <ng-container matColumnDef="fmname">
          <th mat-header-cell *matHeaderCellDef> ชื่อ-สกุล </th>
          <td mat-cell *matCellDef="let element"> {{element.fmname}} </td>
        </ng-container>

        <!-- CaneTypeName Column -->
        <ng-container matColumnDef="CaneTypeName">
          <th mat-header-cell *matHeaderCellDef> ชื่อประเภทอ้อย </th>
          <td mat-cell *matCellDef="let element"> {{element.CaneTypeName}} </td>
        </ng-container>

        <!-- caneage Column -->
        <ng-container matColumnDef="caneage">
          <th mat-header-cell *matHeaderCellDef> อายุอ้อย </th>
          <td mat-cell *matCellDef="let element"> {{element.caneage}} </td>
        </ng-container>

        <!-- supzone Column -->
        <ng-container matColumnDef="supzone">
          <th mat-header-cell *matHeaderCellDef> โซน </th>
          <td mat-cell *matCellDef="let element"> {{element.supzone}} </td>
        </ng-container>

        <!-- route Column -->
        <ng-container matColumnDef="route">
          <th mat-header-cell *matHeaderCellDef> รูท </th>
          <td mat-cell *matCellDef="let element"> {{element.route}} </td>
        </ng-container>

        <!-- icon Column -->
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef> การจัดการ </th>
          <td mat-cell *matCellDef="let element">
            <a matTooltip="บันทึกข้อมูล" aria-label="Button that displays a tooltip when focused or hovered over"
              data-bs-toggle="offcanvas" data-bs-target="#demo" (click)="select_landno(element);"> <span
                class="material-icons" id="border">
                border_color</span></a>
            <a matTooltip="แสดงข้อมูลเพิ่มเติม" aria-label="Button that displays a tooltip when focused or hovered over"
              data-bs-toggle="offcanvas" data-bs-target="#demoDetailFarmer" (click)="select_landno(element);"> <span
                class="material-icons" id="folder">
                folder</span></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

  <!-- ฟอร์มข้อมูลชาวไร่ -->
  <div class="offcanvas offcanvas-end" id="demoDetailFarmer">

    <div class="offcanvas-header" *ngIf="s_landno">
      <h1 class="offcanvas-title"><span>ข้อมูลชาวไร่ : {{ s_landno.fmname }}</span></h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body">
      <form method="post">

        <div class="row">
          <div class="col-md-3">
            <div class="profile-img">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                alt="" />
              <div class="file btn btn-lg btn-primary">
                Change Photo
                <input type="file" name="file" />
              </div>
            </div>
          </div>
          <div class="col-md-9">

            <div class="profile-head" *ngIf="s_landno">
              <div class="row">
                <div class="col-md-6">
                  <p>
                    เลขบัญชี : {{ s_landno.fmcode }}
                  </p>
                  <p>
                    หมายเลขแปลง : {{ s_landno.intlandno }}
                  </p>
                  <p>
                    ประเภทอ้อย : {{ s_landno.canetype }}
                  </p>
                  <p>
                    ชื่อประเภทอ้อย : {{ s_landno.CaneTypeName }}
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    นอส. : {{ s_landno.supcode }}
                  </p>
                  <p>
                    โซน : {{ s_landno.supzone }}
                  </p>
                  <p>
                    ส่วน : {{ s_landno.Partcode }}
                  </p>
                  <p>
                    รูท : {{ s_landno.route }}
                  </p>
                </div>
              </div>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">ข้อมูลพื้นฐาน</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="active-tab" data-toggle="tab" href="#active" role="tab"
                    aria-controls="profile" aria-selected="false">กิจกรรม</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="fertilizer-tab" data-toggle="tab" href="#fertilizer" role="tab"
                    aria-controls="profile" aria-selected="false">กิจกรรม1</a>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="profile-work">
              <img src="https://geology.com/world/world-map-360.gif" alt="" width="100%">
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"  >
                <div class="row">
                  <div class="col-md-6">
                    <label>วันที่ปลูก</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.PlantDate}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>ปลูกเสร็จ</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.growed1}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>อายุอ้อย</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.caneage}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>พื้นที่</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.landvalue}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>ระยะร่อง</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.Groove}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>สถานะแปลง</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.PlantDate}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>ลำดับ</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.route_id}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>status</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.status}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>กลุ่มตัด</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.groupCode}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>กลุ่มบำรุง</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.groupCode_m}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>งวด</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.Period}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>ชื่อพันธ์</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{s_landno.seedname}}</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="active" role="tabpanel" aria-labelledby="active-tab">
                <table class="table table-responsive">
                  <thead align="center">
                    <tr>
                      <th>#</th>
                      <th>รายละเอียด</th>
                      <th>#</th>
                      <th>รายละเอียด</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="s_landno" align="center">
                    <tr>
                      <td>ใส่โดโลไมท์</td>
                      <td id="s_landno">{{s_landno.getDolomite}}</td>
                      <td>ระเบิดดินดานงวด 1</td>
                      <td id="s_landno">{{s_landno.gethardSoilBlast1}}</td>
                    </tr>
                    <tr>
                      <td>ปริมาณโดโลไมท์</td>
                      <td>{{s_landno.AmountDolomite}}</td>
                      <td>ระเบิดดินดานงวด 2</td>
                      <td>{{s_landno.gethardSoilBlast2}}</td>
                    </tr>
                    <tr>
                      <td>วันที่ใส่โดโลไมต์</td>
                      <td>{{s_landno.DolomiteDate}}</td>
                      <td>วัชพืชงวด 1</td>
                      <td>{{s_landno.getWeed1}}</td>
                    </tr>
                    <tr>
                      <td>ปริมาณปุ๋ยเคมีงวด 1</td>
                      <td>{{s_landno.AmountFertilizerRound}}</td>
                      <td>ปริมาณปุ๋ยเคมีงวด 2</td>
                      <td>{{s_landno.AmountFertilizerRound2}}</td>
                    </tr>
                    <tr>
                      <td>การให้ปุ๋ยน้ำทางใบ</td>
                      <td>{{s_landno.FoliarFertilizer}}</td>
                      <td>วันที่ใส่ปุ๋ยเคมีงวด2</td>
                      <td>{{s_landno.FertilizerRoundDate2}}</td>
                    </tr>
                    <tr>
                      <td>ปริมาณปุ๋ยน้ำงวด 1</td>
                      <td>{{s_landno.AmountFoliarFertilizer}}</td>
                      <td>ปริมาณน้ำงวด 2</td>
                      <td>{{s_landno.AmountWatering2}}</td>
                    </tr>
                    <tr>
                      <td>ปริมาณปุ๋ยอินทรีย์</td>
                      <td>{{s_landno.AmountNaturalFertilizer}}</td>
                      <td>การให้ปุ๋ยน้ำทางใบงวด 2</td>
                      <td>{{s_landno.FoliarFertilizer2}}</td>
                    </tr>
                    <tr>
                      <td>ปริมาณน้ำงวด 1</td>
                      <td>{{s_landno.AmountWatering}}</td>
                      <td>ปริมาณปุ๋ยน้ำงวด 2</td>
                      <td>{{s_landno.AmountFoliarFertilizer2}}</td>
                    </tr>
                    <tr>
                      <td>เปอร์เซ็นการงอกงวด 1</td>
                      <td>{{s_landno.GerminationPercent}}</td>
                      <td>%การงอกงวด 2</td>
                      <td>{{s_landno.GerminationPercent2}}</td>
                    </tr>
                    <tr>
                      <td>ซ่อมอ้อยงวด 1</td>
                      <td>{{s_landno.getRepairingCane1}}</td>
                      <td>ซ่อมอ้อยงวด 2</td>
                      <td>{{s_landno.getRepairingCane2}}</td>
                    </tr>
                    <tr>
                      <td>การฉีดยาคุมงวด 1</td>
                      <td>{{s_landno.getInjectableContraceptive}}</td>
                      <td>การฉีดยาคุมงวด 2</td>
                      <td>{{s_landno.getInjectableContraceptive2}}</td>
                    </tr>
                    <tr>
                      <td>วันที่ใส่ปุ๋ยอินทรีย์</td>
                      <td>{{s_landno.NaturalFertilizerDate}}</td>
                      <td>วัชพืชงวด 2</td>
                      <td>{{s_landno.getWeed2}}</td>
                    </tr>
                    <tr>
                      <td>การวางใบ</td>
                      <td>{{s_landno.getPreservationLeaf}}</td>
                      <td>การให้ปุ๋ยเคมีทางใบงวด 3</td>
                      <td>{{s_landno.FoliarFertilizer3}}</td>
                    </tr>
                    <tr>
                       <td>ปริมาณปุ๋ยน้ำงวด 3</td>
                      <td>{{s_landno.AmountFoliarFertilizer3}}</td>
                      <td>ปริมาณน้ำงวด 3</td>
                      <td>{{s_landno.AmountWatering3}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="fertilizer" role="tabpanel" aria-labelledby="fertilizer-tab">
                <table class="table table-responsive">
                  <thead align="center">
                    <tr>
                      <th>#</th>
                      <th>รายละเอียด</th>
                      <th>#</th>
                      <th>รายละเอียด</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="s_landno" align="center">
                    <tr>
                      <td>ใส่โดโลไมท์</td>
                      <td id="s_landno">{{s_landno.getDolomite}}</td>
                      <td>ระเบิดดินดานงวด 1</td>
                      <td id="s_landno">{{s_landno.gethardSoilBlast1}}</td>
                    </tr>
                    <tr>
                      <td>ปริมาณโดโลไมท์</td>
                      <td>{{s_landno.AmountDolomite}}</td>
                      <td>ระเบิดดินดานงวด 2</td>
                      <td>{{s_landno.gethardSoilBlast2}}</td>
                    </tr>
                    <tr>
                      <td>วันที่ใส่โดโลไมต์</td>
                      <td>{{s_landno.DolomiteDate}}</td>
                      <td>วัชพืชงวด 1</td>
                      <td>{{s_landno.getWeed1}}</td>
                    </tr>
                    <tr>
                      <td>ปริมาณปุ๋ยเคมีงวด 1</td>
                      <td>{{s_landno.AmountFertilizerRound}}</td>
                      <td>ปริมาณปุ๋ยเคมีงวด 2</td>
                      <td>{{s_landno.AmountFertilizerRound2}}</td>
                    </tr>
                    <tr>
                      <td>การให้ปุ๋ยน้ำทางใบ</td>
                      <td>{{s_landno.FoliarFertilizer}}</td>
                      <td>วันที่ใส่ปุ๋ยเคมีงวด2</td>
                      <td>{{s_landno.FertilizerRoundDate2}}</td>
                    </tr>
                    <tr>
                      <td>ปริมาณปุ๋ยน้ำงวด 1</td>
                      <td>{{s_landno.AmountFoliarFertilizer}}</td>
                      <td>ปริมาณน้ำงวด 2</td>
                      <td>{{s_landno.AmountWatering2}}</td>
                    </tr>
                    <tr>
                      <td>ปริมาณปุ๋ยอินทรีย์</td>
                      <td>{{s_landno.AmountNaturalFertilizer}}</td>
                      <td>การให้ปุ๋ยน้ำทางใบงวด 2</td>
                      <td>{{s_landno.FoliarFertilizer2}}</td>
                    </tr>
                    <tr>
                      <td>ปริมาณน้ำงวด 1</td>
                      <td>{{s_landno.AmountWatering}}</td>
                      <td>ปริมาณปุ๋ยน้ำงวด 2</td>
                      <td>{{s_landno.AmountFoliarFertilizer2}}</td>
                    </tr>
                    <tr>
                      <td>เปอร์เซ็นการงอกงวด 1</td>
                      <td>{{s_landno.GerminationPercent}}</td>
                      <td>%การงอกงวด 2</td>
                      <td>{{s_landno.GerminationPercent2}}</td>
                    </tr>
                    <tr>
                      <td>ซ่อมอ้อยงวด 1</td>
                      <td>{{s_landno.getRepairingCane1}}</td>
                      <td>ซ่อมอ้อยงวด 2</td>
                      <td>{{s_landno.getRepairingCane2}}</td>
                    </tr>
                    <tr>
                      <td>การฉีดยาคุมงวด 1</td>
                      <td>{{s_landno.getInjectableContraceptive}}</td>
                      <td>การฉีดยาคุมงวด 2</td>
                      <td>{{s_landno.getInjectableContraceptive2}}</td>
                    </tr>
                    <tr>
                      <td>วันที่ใส่ปุ๋ยอินทรีย์</td>
                      <td>{{s_landno.NaturalFertilizerDate}}</td>
                      <td>วัชพืชงวด 2</td>
                      <td>{{s_landno.getWeed2}}</td>
                    </tr>
                    <tr>
                      <td>การวางใบ</td>
                      <td>{{s_landno.getPreservationLeaf}}</td>
                      <td>การให้ปุ๋ยเคมีทางใบงวด 3</td>
                      <td>{{s_landno.FoliarFertilizer3}}</td>
                    </tr>
                    <tr>
                       <td>ปริมาณปุ๋ยน้ำงวด 3</td>
                      <td>{{s_landno.AmountFoliarFertilizer3}}</td>
                      <td>ปริมาณน้ำงวด 3</td>
                      <td>{{s_landno.AmountWatering3}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <button (click)="generateExcelReport()">Generate Excel Report</button>
      </form>
    </div>

  </div>


  <!-- ฟอร์มบันทึกกิจกรรมแปลงผลผลิตสูง ปี 2566/67 -->

  <div class="offcanvas offcanvas-end" id="demo">

    <div class="offcanvas-header">
      <h1 class="offcanvas-title"><span>แบบรายงานการตรวจกิจกรรมแปลงผลผลิตสูง ปี 2566/67</span></h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <div *ngIf="s_landno">
        <div class="row">
          <div class="col-md-4">
            <span>ชื่อ-สกุลชาวไร่ : {{ s_landno.fmname }} </span>
          </div>
          <div class="col-md-4">
            <span>เลขที่บัญชี : {{ s_landno.fmcode }}</span>
          </div>
          <div class="col-md-4">
            <span>หมายเลขแปลง : {{ s_landno.intlandno }} </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span>วันที่ปลูก : {{ s_landno.PlantDateTH }} </span>
          </div>
          <div class="col-md-4">
            <span>อายุอ้อย : {{ s_landno.caneage }} วัน</span>
          </div>
          <div class="col-md-4">
            <span>ประเภทอ้อย : {{ s_landno.CaneTypeName }} </span>
          </div>
        </div>

        <!-- ฟอร์มบันทึกกิจกรรม -->
        <form [formGroup]="myForm" (ngSubmit)="submitSave(myForm.value)">

          <div class="row">
            <div class="col-md-4">
              <!-- id แปลงอ้อย -->
              <mat-form-field *ngIf="s_landno">
                <mat-label>id แปลงอ้อย</mat-label>
                <input matInput type="text" placeholder="itid" formControlName="itid" [value]="itid">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <!-- ชื่อเรียกแปลงอ้อย -->
              <mat-form-field>
                <mat-label>ชื่อเรียกแปลงอ้อย</mat-label>
                <input matInput type="text" placeholder="plotName" formControlName="plotName" [value]="">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <!-- รหัสผู้บันทึกข้อมูล -->
              <mat-form-field>
                <mat-label>รหัสผู้บันทึกข้อมูล</mat-label>
                <input matInput type="text" placeholder="supcode" formControlName="supcode" [value]="supcode">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <!-- ผลผลิตประเมิน ตัน/ไร่ -->
              <mat-form-field>
                <mat-label>ประเมิน</mat-label>
                <input matInput type="text" placeholder="yieldEstimate" formControlName="yieldEstimate" [value]=""
                  maxlength="35" minlength="0" required placeholder="ใส่ตัวเลขเท่านั้น">
                <mat-hint align="end">ค่าต้อง 0 - 35</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <!-- เป้าหมายผลผลิต ตัน/ไร่ -->
              <mat-form-field>
                <mat-label>เป้าหมาย</mat-label>
                <input matInput type="text" placeholder="yieldTarget" formControlName="yieldTarget" [value]=""
                  maxlength="35" minlength="0" required placeholder="ใส่ตัวเลขเท่านั้น">
                <mat-hint align="end">ค่าต้อง 0 - 35</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <!-- รายละเอียดแปลงเพิ่มเติมต่างๆ  -->
              <mat-form-field>
                <mat-label>รายละเอียด</mat-label>
                <input matInput type="text" placeholder="plotMoreDesc" formControlName="plotMoreDesc" [value]="">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              อัพโหลดรูปภาพแปลง
              <input type="file" class="file-upload" onchange="console.log(event.target.files)">
            </div>
          </div>

          <div class="table-responsive">

            <table class="table  table-hover">
              <thead align="center">
                <tr>
                  <th scope="col">กิจกรรมเพิ่มผลผลิต</th>
                  <th scope="col">วางแผนที่จะทำ</th>
                  <th scope="col">วันที่ทำจริง</th>
                  <th scope="col">ทันเวลา</th>
                  <th scope="col">คุณภาพ</th>
                  <th scope="col">วิธีการทำ</th>
                  <th scope="col">อื่น ๆ</th>
                </tr>
              </thead>
              <tbody>
                <!-- การระเบิดดินดาน (ภายในอายุ 30 วัน) -->
                <tr>
                  <td>
                    1.การระเบิดดินดาน (ภายในอายุ 30 วัน)
                  </td>
                  <!--วางแผนระเบิดดินดานวันที่-->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="hardSoilBlastPlan" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="hardSoilBlastPlan">
                    </mat-form-field>
                  </td>
                  <!-- ระเบิดดินดานแล้ววันที่ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="hardSoilBlastDate" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="hardSoilBlastDate">
                    </mat-form-field>
                  </td>
                  <!-- การระเบิดดินดานทันเวลาหรือไม่ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="hardSoilBlastIntime"
                      name="hardSoilBlastIntime" formControlName="hardSoilBlastIntime">
                      <mat-radio-button value="Y">ทันเวลา</mat-radio-button><br>
                      <mat-radio-button value="N">ไม่ทันเวลา</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- การระเบิดดินดานมีคุณภาพหรือไม่ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="hardSoilBlastQuality"
                      name="hardSoilBlastQuality" formControlName="hardSoilBlastQuality">
                      <mat-radio-button value="1">ผ่านความลึก</mat-radio-button><br>
                      <mat-radio-button value="2">ไม่ผ่านความลึก</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- วิธีการระเบิดดินดาน -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">วิธีการทำ</mat-label>
                      <input matInput name="hardSoilBlastMethod" type="text" formControlName="hardSoilBlastMethod">
                    </mat-form-field>
                  </td>
                  <!-- เรื่องอื่นๆเกี่ยวกับการระเบิดดินดาน -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อื่น ๆ</mat-label>
                      <input matInput name="hardSoilBlastMore" formControlName="hardSoilBlastMore" value="">
                    </mat-form-field>
                  </td>
                </tr>
                <!-- ปุ๋ยอินทรีย์ (ภายในอายุ 30 วัน) -->
                <tr>
                  <td>
                    2.ปุ๋ยอินทรีย์ (ภายในอายุ 30 วัน)
                  </td>
                  <!-- วางแผนใส่ปุ๋ยอินทรีย์วันที่ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="organicPlan" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="organicPlan">
                    </mat-form-field>
                  </td>
                  <!-- วันที่ใส่ปุ๋ยอินทรีย์ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="organicDate" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="organicDate">
                    </mat-form-field>
                  </td>
                  <!-- ใส่ปุ๋ยอินทรีย์ทันเวลาหรือไม่ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="organicIntime" name="organicIntime"
                      formControlName="organicIntime">
                      <mat-radio-button value="Y">ทันเวลา</mat-radio-button><br>
                      <mat-radio-button value="N">ไม่ทันเวลา</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- อัตราปุ๋ยอินทรีย์ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อัตรา...กก./ไร่</mat-label>
                      <input matInput name="organicRatio" type="text" formControlName="organicRatio">
                    </mat-form-field>
                  </td>
                  <!-- วิธีการใส่ปุ๋ยอินทรีย์ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="organicMethod" name="organicMethod"
                      formControlName="organicMethod">
                      <mat-radio-button value="1">ใช้คนโรย</mat-radio-button><br>
                      <mat-radio-button value="2">ใช้เครื่อง</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- เรื่องอื่นๆเกี่ยวกับการใส่ปุ๋ยอินทรีย์ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อื่น ๆ</mat-label>
                      <input matInput name="organicMore" formControlName="organicMore" value="">
                    </mat-form-field>
                  </td>
                </tr>
                <!-- โดโลไมท์ (ภายในอายุ 30 วัน) -->
                <tr>
                  <td>
                    3.โดโลไมท์ (ภายในอายุ 30 วัน)
                  </td>
                  <!-- วางแผนใส่โดโลไมท์วันที่ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="dolomitePlan" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="dolomitePlan">
                    </mat-form-field>
                  </td>
                  <!-- วันที่ใส่โดโลไมท์ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="dolomiteDate" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="dolomiteDate">
                    </mat-form-field>
                  </td>
                  <!-- ใส่โดโลไมท์ทันเวลาหรือไม่ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="dolomiteIntime" name="dolomiteIntime"
                      formControlName="dolomiteIntime">
                      <mat-radio-button value="Y">ทันเวลา</mat-radio-button><br>
                      <mat-radio-button value="N">ไม่ทันเวลา</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- อัตราโดโลไมท์ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อัตรา...กก./ไร่</mat-label>
                      <input matInput name="dolomiteRatio" type="text" formControlName="dolomiteRatio">
                    </mat-form-field>
                  </td>
                  <!-- วิธีการใส่โดโลไมท์ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="dolomiteMethod" name="dolomiteMethod"
                      formControlName="dolomiteMethod">
                      <mat-radio-button value="1">ใช้คนโรย</mat-radio-button><br>
                      <mat-radio-button value="2">ใช้เครื่อง</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- เรื่องอื่นๆเกี่ยวกับการใส่โดโลไมท์ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อื่น ๆ</mat-label>
                      <input matInput name="dolomiteMore" formControlName="dolomiteMore" value="">
                    </mat-form-field>
                  </td>
                </tr>
                <!-- ใส่ปุ๋ยเคมีครั้งที่ 1 (ภายในอายุ 30 วัน) -->
                <tr>
                  <td>
                    4.ใส่ปุ๋ยเคมีครั้งที่ 1 (ภายในอายุ 30 วัน)
                  </td>
                  <!-- วางแผนใส่ ปุ๋ยเคมี1 วันที่ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="chemical1Plan" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="chemical1Plan">
                    </mat-form-field>
                  </td>
                  <!-- วันที่ใส่ เคมี1 -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="chemical1Date" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="chemical1Date">
                    </mat-form-field>
                  </td>
                  <!-- ใส่ ปุ๋ยเคมี1 ทันเวลาหรือไม่ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="chemical1Intime" name="chemical1Intime"
                      formControlName="chemical1Intime">
                      <mat-radio-button value="Y">ทันเวลา</mat-radio-button><br>
                      <mat-radio-button value="N">ไม่ทันเวลา</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- อัตรา ปุ๋ยเคมี1 กก./ไร่ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อัตรา...กก./ไร่<br>สูตร....</mat-label>
                      <input matInput name="chemical1Ratio" type="text" formControlName="chemical1Ratio">
                    </mat-form-field>
                  </td>
                  <!-- วิธีการใส่ ปุ๋ยเคมี1 คน รถ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="chemical1Method" name="chemical1Method"
                      formControlName="chemical1Method">
                      <mat-radio-button value="1">คน</mat-radio-button><br>
                      <mat-radio-button value="2">รถ</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- เรื่องอื่นๆเกี่ยวกับการใส ปุ๋ยเคมี1 -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อื่น ๆ</mat-label>
                      <input matInput name="chemical1More" formControlName="chemical1More" value="">
                    </mat-form-field>
                  </td>
                </tr>
                <!-- ใส่ปุ๋ยเคมีครั้งที่ 2 (ภายในอายุ 75 วัน) -->
                <tr>
                  <td>
                    5.ใส่ปุ๋ยเคมีครั้งที่ 2 (ภายในอายุ 75 วัน)
                  </td>
                  <!-- วางแผนใส่ ปุ๋ยเคมี2 วันที่ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="chemical2Plan" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="chemical2Plan">
                    </mat-form-field>
                  </td>
                  <!-- วันที่ใส่ เคมี2 -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="chemical2Date" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="chemical2Date">
                    </mat-form-field>
                  </td>
                  <!-- ใส่ ปุ๋ยเคมี2 ทันเวลาหรือไม่ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="chemical2Intime" name="chemical2Intime"
                      formControlName="chemical2Intime">
                      <mat-radio-button value="Y">ทันเวลา</mat-radio-button><br>
                      <mat-radio-button value="N">ไม่ทันเวลา</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- อัตรา ปุ๋ยเคมี2 กก./ไร่ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อัตรา...กก./ไร่<br>สูตร....</mat-label>
                      <input matInput name="chemical2Ratio" type="text" formControlName="chemical2Ratio">
                    </mat-form-field>
                  </td>
                  <!-- วิธีการใส่ ปุ๋ยเคมี2 คน รถ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="chemical2Method" name="chemical2Method"
                      formControlName="chemical2Method">
                      <mat-radio-button value="1">คน</mat-radio-button><br>
                      <mat-radio-button value="2">รถ</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- เรื่องอื่นๆเกี่ยวกับการใส ปุ๋ยเคมี2 -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อื่น ๆ</mat-label>
                      <input matInput name="chemical2More" formControlName="chemical2More" value="">
                    </mat-form-field>
                  </td>
                </tr>
                <!-- การพูนโคน เพื่อรองรับรถตัดอ้อย (ระยะเวลา 75 วัน) -->
                <tr>
                  <td>
                    6.การพูนโคน เพื่อรองรับรถตัดอ้อย (ระยะเวลา 75 วัน)
                  </td>
                  <!-- วางแผน การพูนโคน วันที่ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="rootingPlan" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="rootingPlan">
                    </mat-form-field>
                  </td>
                  <!-- วันที่ทำ การพูนโคน -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="rootingDate" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="rootingDate">
                    </mat-form-field>
                  </td>
                  <!-- การพูนโคน ทันเวลาหรือไม่ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="rootingIntime" name="rootingIntime"
                      formControlName="rootingIntime">
                      <mat-radio-button value="Y">ทันเวลา</mat-radio-button><br>
                      <mat-radio-button value="N">ไม่ทันเวลา</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- -->
                  <td></td>
                  <!-- วิธีการพูนโคน คน รถ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="rootingMethod" name="rootingMethod"
                      formControlName="rootingMethod">
                      <mat-radio-button value="1">คน</mat-radio-button><br>
                      <mat-radio-button value="2">รถ</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- เรื่องอื่นๆเกี่ยวกับ การพูนโคน -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อื่น ๆ</mat-label>
                      <input matInput name="rootingMore" formControlName="rootingMore" value="">
                    </mat-form-field>
                  </td>
                </tr>
                <!-- ใส่ปุ๋ยเคมีครั้งที่ 3 เพื่อเพิ่มผลผลิต (ภายในอายุ 90 วัน) -->
                <tr>
                  <td>
                    7.ใส่ปุ๋ยเคมีครั้งที่ 3 เพื่อเพิ่มผลผลิต (ภายในอายุ 90 วัน)
                  </td>
                  <!-- วางแผนใส่ ปุ๋ยเคมี3 วันที่ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="chemical3Plan" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="chemical3Plan">
                    </mat-form-field>
                  </td>
                  <!-- วันที่ใส่ เคมี3 -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">DD/MM/YYYY</mat-label>
                      <input matInput name="chemical3Date" type="text"
                        pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"
                        formControlName="chemical3Date">
                    </mat-form-field>
                  </td>
                  <!-- ใส่ ปุ๋ยเคมี3 ทันเวลาหรือไม่ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="chemical3Intime" name="chemical3Intime"
                      formControlName="chemical3Intime">
                      <mat-radio-button value="Y">ทันเวลา</mat-radio-button><br>
                      <mat-radio-button value="N">ไม่ทันเวลา</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- อัตรา ปุ๋ยเคมี3 กก./ไร่ -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อัตรา...กก./ไร่<br>สูตร....</mat-label>
                      <input matInput ame="chemical3Ratio" type="text" formControlName="chemical3Ratio">
                    </mat-form-field>
                  </td>
                  <!-- วิธีการใส่ ปุ๋ยเคมี3 คน รถ -->
                  <td>
                    <mat-radio-group aria-labelledby="radio-group-label" class="chemical3Method" name="chemical3Method"
                      formControlName="chemical3Method">
                      <mat-radio-button value="1">คน</mat-radio-button><br>
                      <mat-radio-button value="2">รถ</mat-radio-button>
                    </mat-radio-group>
                  </td>
                  <!-- เรื่องอื่นๆเกี่ยวกับการใส ปุ๋ยเคมี3 -->
                  <td>
                    <mat-form-field class="field">
                      <mat-label id="label">อื่น ๆ</mat-label>
                      <input matInput name="chemical3More" formControlName="chemical3More" value="">
                    </mat-form-field>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

          <div class="d-flex">
            <div class="mr-auto p-2">

            </div>
            <div class="p-2">
              <!-- <button mat-raised-button color="accent" type="submit">บันทึก</button> -->
              <button (click)="myForm.reset()" mat-raised-button color="accent" type="submit">บันทึก</button>
            </div>
          </div>

        </form>

        <!-- ดึงข้อมูลใน Form มาแสดง -->
        Form : {{ myForm.value | json }}

      </div>
    </div>
    <!-- <div class="offcanvas-footer"> </div> -->
  </div>

  <hr>

  <!-- ฟอร์มรายละเอียด -->
  <form>

    <div class="table-responsive">

      <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="alldata">

          <!-- dateUpdate Column -->
          <ng-container matColumnDef="dateUpdate">
            <th mat-header-cell *matHeaderCellDef> วันที่อัพเดตข้อมูล </th>
            <td mat-cell *matCellDef="let element"> {{element.dateUpdate}} </td>
          </ng-container>

          <!-- intlandno Column -->
          <ng-container matColumnDef="intlandno" sticky>
            <th mat-header-cell *matHeaderCellDef> หมายเลขแปลง </th>
            <td mat-cell *matCellDef="let element"> {{element.intlandno}} </td>
          </ng-container>

          <!-- fmname Column -->
          <ng-container matColumnDef="fmname">
            <th mat-header-cell *matHeaderCellDef> ชื่อ-สกุล </th>
            <td mat-cell *matCellDef="let element"> {{element.fmname}} </td>
          </ng-container>

          <!-- CaneTypeName Column -->
          <ng-container matColumnDef="CaneTypeName">
            <th mat-header-cell *matHeaderCellDef> ชื่อประเภทอ้อย </th>
            <td mat-cell *matCellDef="let element"> {{element.CaneTypeName}} </td>
          </ng-container>

          <!-- landvalue Column -->
          <ng-container matColumnDef="landvalue">
            <th mat-header-cell *matHeaderCellDef> พื้นที่ปลูก </th>
            <td mat-cell *matCellDef="let element"> {{element.landvalue}} </td>
          </ng-container>

          <!-- supzone Column -->
          <ng-container matColumnDef="supzone">
            <th mat-header-cell *matHeaderCellDef> โซน </th>
            <td mat-cell *matCellDef="let element"> {{element.supzone}} </td>
          </ng-container>

          <!-- route Column -->
          <ng-container matColumnDef="route">
            <th mat-header-cell *matHeaderCellDef> รูท </th>
            <td mat-cell *matCellDef="let element"> {{element.route}} </td>
          </ng-container>

          <!-- icon Column -->
          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef> การจัดการ </th>
            <td mat-cell *matCellDef="let element">
              <a matTooltip="ข้อมูลเพิ่มเติม" aria-label="Button that displays a tooltip when focused or hovered over"
                data-bs-toggle="offcanvas" data-bs-target="#demoDetailActivity"> <span class="material-icons"
                  id="folder">
                  folder</span></a>

              <a matTooltip="แก้ไขข้อมูล" aria-label="Button that displays a tooltip when focused or hovered over"
                (click)="select_landno(element)"> <span class="material-icons" id="border">
                  border_color </span></a>

              <a matTooltip="ลบข้อมูล" aria-label="Button that displays a tooltip when focused or hovered over"
                onclick="getDelete(itid)"> <span class="material-icons" id="delete">
                  delete</span></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsDetail; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDetail;"></tr>
        </table>
      </section>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
    </div>
  </form>

  <!-- ฟอร์มข้อมูลกิจกรรมรายแปลง -->
  <div class="offcanvas offcanvas-end" id="demoDetailActivity">

    <div class="offcanvas-header" *ngIf="s_landno">
      <h1 class="offcanvas-title"><span>ข้อมูลกิจกรรมแปลง : {{ s_landno.fmname }}</span></h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" id="Activity">
      <div class="row" *ngIf="s_landno" id="row">
        <div class="col-md-4">
          <span>id แปลงอ้อย: {{s_landno.itid}}</span>
        </div>
        <div class="col-md-4">
          <span>วันที่เพิ่มข้อมูล: {{s_landno.dateAdd}}</span>
        </div>
        <div class="col-md-4">
          <span>วันที่อัพเดตข้อมูล: {{s_landno.dateUpdate}}</span>
        </div>
      </div>
      <div class="row" *ngIf="s_landno" id="row">
        <div class="col-md-4">
          <span>ชื่อประเภทอ้อย: {{s_landno.canename}}</span>
        </div>
        <div class="col-md-4">
          <span>ชื่อเรียกแปลงอ้อย: {{s_landno.plotName}}</span>
        </div>
        <div class="col-md-4">
          <span>เป้าหมายผลผลิต ตัน/ไร่: {{s_landno.yieldTarget}}</span>
        </div>
      </div>
      <div class="row" *ngIf="s_landno" id="row">
        <div class="col-md-4">
          <span>ผลผลิตประเมิน ตัน/ไร่: {{s_landno.yieldEstimate}}</span>
        </div>
        <div class="col-md-4">
          <span>รหัสผู้บันทึกข้อมูล: {{s_landno.supcode}}</span>
        </div>
        <div class="col-md-4">
          <span>รายละเอียดแปลงเพิ่มเติมต่างๆ : {{s_landno.plotMoreDesc}}</span>
        </div>
      </div>
      <table class="table table-responsive" id="DetailActivity">
        <thead align="center">
          <tr>
            <th colspan="2">การระเบิดดินดาน ภายใน 30 วัน</th>
            <th colspan="2">การใส่ปุ๋ยอินทรีย์ ภายใน 30 วัน</th>
            <th colspan="2">การใส่โดโลไมท์ ภายใน 30 วัน</th>
            <th colspan="2">การใส่ ปุ๋ยเคมี1 ภายใน 30 วัน</th>
          </tr>
        </thead>
        <tbody *ngIf="s_landno" align="center">
          <tr>
            <td>วางแผนระเบิดดินดานวันที่</td>
            <td id="s_landno">{{s_landno.hardSoilBlastPlan}}</td>
            <td>วางแผนใส่ปุ๋ยอินทรีย์วันที่</td>
            <td id="s_landno">{{s_landno.organicPlan}}</td>
            <td>วางแผนใส่โดโลไมท์วันที่</td>
            <td id="s_landno">{{s_landno.dolomitePlan}}</td>
            <td>วางแผนใส่ ปุ๋ยเคมี1 วันที่</td>
            <td id="s_landno">{{s_landno.chemical1Plan}}</td>
          </tr>
          <tr>
            <td>ระเบิดดินดานแล้ววันที่</td>
            <td>{{s_landno.hardSoilBlastDate}}</td>
            <td>วันที่ใส่ปุ๋ยอินทรีย์</td>
            <td>{{s_landno.organicDate}}</td>
            <td>วันที่ใส่โดโลไมท์</td>
            <td>{{s_landno.dolomiteDate}}</td>
            <td>วันที่ใส่ เคมี1</td>
            <td>{{s_landno.chemical1Date}}</td>
          </tr>
          <tr>
            <td>การระเบิดดินดานทันเวลาหรือไม่</td>
            <td>{{s_landno.hardSoilBlastIntime}}</td>
            <td>ใส่ปุ๋ยอินทรีย์ทันเวลาหรือไม่</td>
            <td>{{s_landno.organicIntime}}</td>
            <td>ใส่โดโลไมท์ทันเวลาหรือไม่</td>
            <td>{{s_landno.dolomiteIntime}}</td>
            <td>ใส่ ปุ๋ยเคมี1 ทันเวลาหรือไม่</td>
            <td>{{s_landno.chemical1Intime}}</td>
          </tr>
          <tr>
            <td>การระเบิดดินดานมีคุณภาพหรือไม่</td>
            <td>{{s_landno.hardSoilBlastQuality}}</td>
            <td>อัตราปุ๋ยอินทรีย์ ตัน/ไร่</td>
            <td>{{s_landno.organicRatio}}</td>
            <td>อัตราโดโลไมท์ ตัน/ไร่</td>
            <td>{{s_landno.dolomiteRatio}}</td>
            <td>อัตรา ปุ๋ยเคมี1 กก./ไร่</td>
            <td>{{s_landno.chemical1Ratio}}</td>
          </tr>
          <tr>
            <td>วิธีการระเบิดดินดาน</td>
            <td>{{s_landno.hardSoilBlastMethod}}</td>
            <td>วิธีการใส่ปุ๋ยอินทรีย์</td>
            <td>{{s_landno.organicMethod}}</td>
            <td>วิธีการใส่โดโลไมท์</td>
            <td>{{s_landno.dolomiteMethod}}</td>
            <td>วิธีการใส่ ปุ๋ยเคมี1 คน รถ</td>
            <td>{{s_landno.chemical1Method}}</td>
          </tr>
          <tr>
            <td>เรื่องอื่นๆเกี่ยวกับการระเบิดดินดาน</td>
            <td>{{s_landno.hardSoilBlastMore}}</td>
            <td>เรื่องอื่นๆเกี่ยวกับการใส่ปุ๋ยอินทรีย์</td>
            <td>{{s_landno.organicMore}}</td>
            <td>เรื่องอื่นๆเกี่ยวกับการใส่โดโลไมท์</td>
            <td>{{s_landno.dolomiteMore}}</td>
            <td>เรื่องอื่นๆเกี่ยวกับการใส ปุ๋ยเคมี1</td>
            <td>{{s_landno.chemical1More}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-responsive" id="DetailActivity">
        <thead align="center">
          <tr>
            <th colspan="2">การใส่ ปุ๋ยเคมี2 ภายใน 75 วัน</th>
            <th colspan="2">การพูนโคน ภายใน 75 วัน</th>
            <th colspan="2">การใส่ ปุ๋ยเคมี3 ภายใน 90 วัน</th>
          </tr>
        </thead>
        <tbody *ngIf="s_landno" align="center">
          <tr>
            <td>วางแผนใส่ ปุ๋ยเคมี2 วันที่</td>
            <td id="s_landno">{{s_landno.chemical2Plan}}</td>
            <td>วางแผน การพูนโคน วันที่</td>
            <td id="s_landno">{{s_landno.rootingPlan}}</td>
            <td>วางแผนใส่ ปุ๋ยเคมี3 วันที่</td>
            <td id="s_landno">{{s_landno.chemical3Plan}}</td>
          </tr>
          <tr>
            <td>วันที่ใส่ เคมี2</td>
            <td>{{s_landno.chemical2Date}}</td>
            <td>วันที่ทำ การพูนโคน</td>
            <td>{{s_landno.rootingDate}}</td>
            <td>วันที่ใส่ เคมี3</td>
            <td>{{s_landno.chemical3Date}}</td>
          </tr>
          <tr>
            <td>ใส่ ปุ๋ยเคมี2 ทันเวลาหรือไม่</td>
            <td>{{s_landno.chemical2Intime}}</td>
            <td>การพูนโคน ทันเวลาหรือไม่</td>
            <td>{{s_landno.rootingIntime}}</td>
            <td>ใส่ ปุ๋ยเคมี3 ทันเวลาหรือไม่</td>
            <td>{{s_landno.chemical3Intime}}</td>
          </tr>
          <tr>
            <td>อัตรา ปุ๋ยเคมี2 กก./ไร่</td>
            <td>{{s_landno.chemical2Ratio}}</td>
            <td>วิธีการพูนโคน คน รถ</td>
            <td>{{s_landno.rootingMethod}}</td>
            <td>อัตรา ปุ๋ยเคมี3 กก./ไร่</td>
            <td>{{s_landno.chemical3Ratio}}</td>
          </tr>
          <tr>
            <td>วิธีการใส่ ปุ๋ยเคมี2 คน รถ</td>
            <td>{{s_landno.chemical2Method}}</td>
            <td>เรื่องอื่นๆเกี่ยวกับ การพูนโคน</td>
            <td>{{s_landno.rootingMore}}</td>
            <td>วิธีการใส่ ปุ๋ยเคมี3 คน รถ</td>
            <td>{{s_landno.chemical3Method}}</td>
          </tr>
          <tr>
            <td>เรื่องอื่นๆเกี่ยวกับการใส ปุ๋ยเคมี2</td>
            <td>{{s_landno.chemical2More}}</td>
            <td></td>
            <td></td>
            <td>เรื่องอื่นๆเกี่ยวกับการใส ปุ๋ยเคมี3</td>
            <td>{{s_landno.chemical3More}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
