* {
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'K2D', sans-serif;
  font-family: 'Mitr', sans-serif;
}

.mat-mdc-form-field {
  font-size: 14px;
}

.example-container {
  width: 100%;
  max-height: 500px;
  max-width: 100%;
  overflow: auto;
  cursor: pointer;
}

.example-full-width {
  width: 100%;
}

.material-icons {
  color: #005eff;
}

.offcanvas {
  width: 2500px;
}
.alert {
  color: red;
  text-align: left;
  font-size: 12px;
}
th,td{
  border: 2px solid lightgray;
}

#label {
  font-size: 12px;
}

.field {
  width: 11rem;
}
.needs-validation{
  margin-top: 1rem;
}
// #itid,#supcode{
//   display: none;
// }
