* {
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'K2D', sans-serif;
  font-family: 'Mitr', sans-serif;
}

.mat-mdc-form-field {
  font-size: 14px;
}

.mat-column-intlandno,
.mat-column-dateUpdate,
.mat-column-fmname,
.mat-column-canetype,
.mat-column-supzone,
.mat-column-landvalue,
.mat-column-route,
.mat-column-icon {
  text-align: center;
}

.example-container {
  width: 100%;
  max-height: 500px;
  max-width: 100%;
  overflow: auto;
  cursor: pointer;
}

.example-full-width {
  width: 100%;
}
.material-icons{
  margin-right: 1rem;
}

#border {
  color: #005eff;
}

#folder {
  color:#58D68D;
}


#print {
  color: green;
}

#delete {
  color: red;
}

.offcanvas {
  width: 2500px;
}

.alert {
  color: red;
  text-align: left;
  font-size: 12px;
}

th,
td {
  border: 2px solid lightgray;
}

#label {
  font-size: 12px;
}

.field {
  width: 11rem;
}

.needs-validation {
  margin-top: 1rem;
}
#DetailFarmer{
  width: auto;
}

// #itid,#supcode{
//   display: none;
// }
